.ExchangesWrapStyle{
   margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    width: 80%;
    margin: 40px auto 0 auto;
    padding: 20px;
    border: 0.5px solid #000;
    border-radius: 20px;
    scroll-behavior: smooth;
    transition: all 0.2s;
}
.ExchangesCard{
    padding: 20px;
    width: 90%;
    border-radius: 15px;
    border: 0.5px solid #000;
    background-color: 20px;
}